<div id="login">
	<div class="modal-wrap" ng-show="!$root.screenName">
		<div class="modal">
			<h1 class="heading">Login</h1>
			<form ng-submit="register()">
				<p class="table-requirements error" ng-show="registerError">{{registerError}}</p>
				<input placeholder='Input MemberID' id="screen-name-input" class="joinInput" type="text" ng-model="newScreenName" ng-trim="true" required style="margin-bottom: 2%;">
				<input placeholder='Input Password' id="screen-password-input" class="joinInput" type="password" ng-model="password" ng-trim="true" required>
				<button href="/lobby" class="submitBtn" value="Submit" style="margin: 15px 0 0 0;">Submit</button>
			</form>
		</div>
		<div id="curtain" ng-show="!$root.screenName"></div>
	</div>
</div>
